@model   SistemaControlEstudiantesUNI.ViewModels.rptConstanciaIndividual_VM
<div class="col-md-offset-1">
    <h2>Constancia</h2>

    <div id="bodyReport">


        <h2 style="text-align: center;"><span style="text-decoration: underline;"><strong>C O N S T A N C I A</strong></span></h2>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p style="text-align: justify;">El Suscrito Coordinador de las carreras dela modalidad Semi-presencial, de la facultad de Electrotecnia y Computaci&oacute;n (UNI), hace constar que el <span style="text-decoration: underline;"><strong>Br. @Model.NombreApellido,</strong></span> es alumno activo del @Model.AnioCursa, en la carrera de <span style="text-decoration: underline;"><strong>@Model.Carrera</strong></span>, Carnet # <span style="text-decoration: underline;"><strong>@Model.no_carnet</strong></span>, en horario @Model.Turno de @Model.Horario.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">Se extiende la presente a solicitud al interesado y para los fines que estime conveniente, en la cuidad de Managua @Model.FechaLetras.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: center;">Atentamente,</p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;"><strong>Ing. Juan Gonz&aacute;lez Mena</strong></p>
        <p style="text-align: center;">Coordinador-Carreras sabatinas</p>
        <p style="text-align: center;">FEC-UNI</p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: left;">Original: Interesado</p>
        <p style="text-align: left;">Expediente</p>


    </div>



</div>
