@model SistemaControlEstudiantesUNI.ViewModels.AgregarHijosEstudianteAsignatura

@{
    ViewBag.Title = "EliminarAsignacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Asignacion</h2>

<h3>Esta seguro que desea eliminarla?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
       
     

  

     

      

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.id_estudiante)
        @Html.HiddenFor(model => model.id_periodo)
        @Html.HiddenFor(model => model.idEstudianteAsignatura)

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar asignatura" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Edit", new { id = Model.id_estudiante })
        </div>
    }
</div>
