@model IEnumerable<SistemaControlEstudiantesUNI.ViewModels.estudianteAsignaturaSimple_VM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estudiantes Asignaturas</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table id="table-uni" class="table  table-bordered table-hover table-uni">
   <thead>
     <tr>


        <th>
            @Html.DisplayNameFor(model => model.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>



        <th>
            @Html.DisplayNameFor(model => model.no_carnet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_cedula)
        </th>

        <th></th>

    </tr>
       </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidos)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.no_carnet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.no_cedula)
                </td>

                <td>
                    @Html.ActionLink("Asignar Clases", "Edit", new { id = item.id }) 
                   
                 
                </td>
            </tr>
        }
    </tbody>
</table>
