@model SistemaControlEstudiantesUNI.ViewModels.Turnos_VM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-offset-1">
    <h2>Detalle</h2>

    <div>
        <h4>Turnos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre_turno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre_turno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.horario_turno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.horario_turno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.activo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.activo)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
    </p>

    </div>
