<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/mask")
   


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#"  class="navbar-left"><img id="logouni" width="90" height="50"  src="~/img/logouni.png"></a>
             
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Catalogos <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Catalogo Maestro", "Index", "Catalogos")</li>
                            <li>@Html.ActionLink("Docentes", "Index", "Docentes")</li>
                            <li>@Html.ActionLink("Asignaturas", "Index", "Asignatura")</li>
                            <li>@Html.ActionLink("Periodos", "Index", "Periodo")</li>
                            <li>@Html.ActionLink("Turnos", "Index", "Turnos")</li>
                         
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Registro <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Estudiantes", "Index", "Estudiantes")</li>
                            <li>@Html.ActionLink("Asignar clases", "Index", "estudianteAsignatura")</li>
                            <li>@Html.ActionLink("Notas", "Index", "Notas")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Gestión Usuarios <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Crear Usuario", "CreateUser", "Admin")</li>
                            <li>@Html.ActionLink("Crear Role", "CreateRole", "Admin")</li>
                            <li>@Html.ActionLink("Asignar roles a usuarios", "AssignRole", "Admin")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container  body-content">
     @{ Html.RenderPartial("_Alerts"); }

        

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Universidad Nacional de Ingenieria</p>
        </footer>
    </div>

  
    @*<script src="~/Scripts/DataTable.js"></script>*@

    <script>

        $(document).ready(function () {
            $('.table-uni').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay resultados",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay resultados",
                    "infoFiltered": "(filtrados de _MAX_ registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": " Primero ",
                        "last": " Último ",
                        "next": " Siguiente ",
                        "previous": "Previo "
                    }


                }
            });
        });



        $(document).ready(function(){
            $('.celular').mask('000-00000', { reverse: true, placeholder: "0000-0000" });
            $('.tel').mask('000-00000', { reverse: true, placeholder: "0000-0000" });
            //$('.fecha').mask('00/00/0000', { reverse: true, placeholder: "__/__/____" });
            $('.cedula').mask('000-000000-0000A', { reverse: true, placeholder: "___-______-_____" });
        
        });


        $(function () {
            $('.fecha').datepicker({ dateFormat: "dd/mm/yy" });
        });

    </script>
  

    @RenderSection("scripts", required: false)
</body>
</html>
