@model SistemaControlEstudiantesUNI.ViewModels.Asignaturas_VM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-1">
    <h2>Crear</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Asignaturas</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.codigoAsignaturas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.codigoAsignaturas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codigoAsignaturas, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.asignaturas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.asignaturas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.asignaturas, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.asignaturasRequisitos, "Nivel Academico", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.asignaturaRequisitosId, new SelectList(Model.asignaturasRequisitos, "id", "asignatura"), "- Seleccione  -", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.asignaturaRequisitosId)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.activo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.activo)
                        @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
    </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
