@model IEnumerable<SistemaControlEstudiantesUNI.ViewModels.AsignaturaSimple_VM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-1">
    <h2>Asignatura</h2>

    <p>
        @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table id="table-uni" class="table  table-bordered table-hover table-uni">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.codigoAsignatura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.asignatura)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.asignaturasRequisito)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.activo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.codigoAsignatura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.asignatura)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.asignaturasRequisito)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.activo)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Ver Detalle", "Details", new { id = item.id }) |
                    </td>
                </tr>
            }
        </tbody>
    </table>

    </div>

