@model SistemaControlEstudiantesUNI.ViewModels.EstudianteEditarNotas_VM


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-offset-1">
    <h2>Notas</h2>
    <div class="row">
      
        <div class="col-md-6">
          
            <div class="form-group">
                @Html.LabelFor(model => model.docentes, "Docente")
                
                @Html.DropDownListFor(model => model.docentes, new SelectList(Model.docentes, "id", "nombre"), "- Seleccione Docente -", new { @class = "form-control", @id = "doc" })
               

            </div>
        
            <div class="form-group">
                @Html.LabelFor(model => model.Grupos, "Grupo")

                @Html.DropDownListFor(model => model.Grupos, new SelectList(Model.Grupos, "id", "Grupo"), "- Seleccione Grupo -", new { @class = "form-control", @id = "grp" })


            </div>
        
        

            <div class="form-group">
                @Html.LabelFor(model => model.Asignaturas, "Asignatura")

                @Html.DropDownListFor(model => model.Asignaturas, new SelectList(Model.Asignaturas, "id", "Asignatura"), "- Seleccione Asignatura -", new { @class = "form-control", @id = "asig" })


            </div>
          </div>
   


         
        </div>

   
@*vista parcial*@
    <div id="tableResult">
@*@Html.Partial("_estudiantes")*@
    </div>


        </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



    <script>
        var table;
        $('#doc').change(function () {
            var selectedDoc = $("#doc").val();
            var regionsSelect = $('#grp');
            console.log(selectedDoc)
            console.log(regionsSelect)
            regionsSelect.empty();
            if (selectedDoc != null && selectedDoc != '') {
                $.getJSON('@Url.Action("GetGrupos")', { id: selectedDoc }, function (Grupos) {
                    if (Grupos != null && !jQuery.isEmptyObject(Grupos)) {
                        regionsSelect.append($('<option/>', {
                            value: null,
                            text: "- Seleccione Grupo -"
                        }));
                        $.each(Grupos, function (id, G) {
                            regionsSelect.append($('<option/>', {
                                value: G.id,
                                text: G.Grupo
                            }));
                        });
                    };
                });
            }
        });




        $('#grp').change(function () {
            var selectedGrp = $("#grp").val();
            var selectDoc = $("#doc").val();
            var regionsSelect = $('#asig');
            console.log(selectedGrp)
            console.log(regionsSelect)
            regionsSelect.empty();
            if (selectedGrp != null && selectedGrp != '') {
                $.getJSON('@Url.Action("GetAsig")', { idDoc: selectDoc, idGrp: selectedGrp }, function (Asignaturas) {
                    if (Asignaturas != null && !jQuery.isEmptyObject(Asignaturas)) {
                        regionsSelect.append($('<option/>', {
                            value: null,
                            text: "- Seleccione Asignatura -"
                        }));
                        $.each(Asignaturas, function (id, A) {
                            regionsSelect.append($('<option/>', {
                                value: A.id,
                                text: A.Asignatura
                            }));
                        });
                    };
                });
            }
        });

        $('#asig').change(function () {
            var docenteS = $("#doc").val();
            var grupoS = $("#grp").val();
            var asignaturaS=$("#asig").val();

            $.ajax({
                url: '@Url.Action(actionName: "GetEstudiantes", controllerName: "Notas")',
                type: 'Get',
                data: { docente: docenteS, grupo: grupoS, asignatura: asignaturaS },
                cache: false,
                success: function (result) {
                    $('#tableResult').html(result);
                }
            });


            
        });


        $(document).ajaxComplete(function () {
            table.destroy();

         table=    $('.table-uni').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay resultados",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay resultados",
                    "infoFiltered": "(filtrados de _MAX_ registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": " Primero ",
                        "last": " Último ",
                        "next": " Siguiente ",
                        "previous": "Previo "
                    },


                }
            });
        });

    </script>
}


