@model SistemaControlEstudiantesUNI.ViewModels.AgregarEstudiante
@using Mvc.CascadeDropDown;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-offset-1">

    <h2>Registrar Estudiante</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Estudiante</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.nombres)

                    @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })

                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.apellidos)

                    @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.direccion_habitual)

                    @Html.TextAreaFor(model => model.direccion_habitual, new { @class = "form-control  rounded-0", @rows = "4" })
                    @Html.ValidationMessageFor(model => model.direccion_habitual, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.fecha_nacimiento)

                    @Html.EditorFor(model => model.fecha_nacimiento, new { htmlAttributes = new { @class = "form-control fecha" } })
                    @Html.ValidationMessageFor(model => model.fecha_nacimiento, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.edad)

                    @Html.EditorFor(model => model.edad, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.edad, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.celular)

                    @Html.EditorFor(model => model.celular, new { htmlAttributes = new { @class = "form-control celular", @id = "estudianteCelular" } })
                    @Html.ValidationMessageFor(model => model.celular, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.centro_trabajo)

                    @Html.EditorFor(model => model.centro_trabajo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.centro_trabajo, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.cargo_trabajo)

                    @Html.EditorFor(model => model.cargo_trabajo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cargo_trabajo, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.email)

                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.lugar_nacimiento)

                    @Html.EditorFor(model => model.lugar_nacimiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.lugar_nacimiento, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.trabaja)

                    <div class="checkbox">
                        @Html.EditorFor(model => model.trabaja)
                        @Html.ValidationMessageFor(model => model.trabaja, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.no_carnet)

                    @Html.EditorFor(model => model.no_carnet, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.no_carnet, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.no_cedula)

                    @Html.EditorFor(model => model.no_cedula, new { htmlAttributes = new { @id= "txtCedula", @class = "form-control cedula" } })
                    @Html.ValidationMessageFor(model => model.no_cedula, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.telefono)

                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control tel" } })
                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.telefono_trabajo)
                    @*<div class="col-md-10">*@
                    @Html.EditorFor(model => model.telefono_trabajo, new { htmlAttributes = new { @class = "form-control tel" } })
                    @Html.ValidationMessageFor(model => model.telefono_trabajo, "", new { @class = "text-danger" })
                    @*</div>*@
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.fecha_ingreso)
                    @*<div class="col-md-10">*@
                    @Html.EditorFor(model => model.fecha_ingreso, new { htmlAttributes = new { @class = "form-control fecha" } })
                    @Html.ValidationMessageFor(model => model.fecha_ingreso, "", new { @class = "text-danger" })
                    @*</div>*@
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Carreras, "Carrera")
                    @*<div class="col-md-10">*@
                    @Html.DropDownListFor(model => model.id_carrera, new SelectList(Model.Carreras, "id", "Nombre"), "- Seleccione Carrera -", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_carrera)
                    @*</div>*@
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Departamentos, "Departamento")
                    @Html.Hidden("Completo", Model)
                    @Html.DropDownListFor(model => model.id_departamento, new SelectList(Model.Departamentos, "idLocalidad", "Nombre"), "- Seleccione Departamento -", new { @class = "form-control", @id = "dep" })
                    @Html.ValidationMessageFor(model => model.id_departamento)

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Municipios)

                    @Html.DropDownListFor(model => model.id_municipio, new SelectList(Model.Municipios, "idLocalidad", "Nombre"), "- Seleccione Municipio -", new { @class = "form-control", @id = "Mun" })
                    @Html.ValidationMessageFor(model => model.id_municipio)



                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.estadoCiviles)

                    @Html.DropDownListFor(model => model.id_estado_civil, new SelectList(Model.estadoCiviles, "id", "Nombre"), "- Seleccione Estado Civil -", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_estado_civil)

                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.planEstudios)

                    @Html.DropDownListFor(model => model.id_plan_estudio, new SelectList(Model.planEstudios, "id", "Nombre"), "- Seleccione Plan Estudio -", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_plan_estudio)

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sexos)

                    @Html.DropDownListFor(model => model.id_sexo, new SelectList(Model.Sexos, "id", "Nombre"), "- Seleccione Sexo -", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_sexo)

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Turnos)

                    @Html.DropDownListFor(model => model.id_turno, new SelectList(Model.Turnos, "idTurno", "nombre_turno"), "- Seleccione Turno-", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_turno)

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.activo)

                    <div class="checkbox">
                        @Html.EditorFor(model => model.activo)
                        @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @*<div class="col-md-offset-2 col-md-10">*@
                    <input type="submit" value="Guardar" id="btnGuardar" onclick="ValirdarCedula(event);" class="btn  btn-primary" />
                    @*</div>*@
                    @*<div class="col-md-offset-2 col-md-10">*@
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-success" })
                    @*</div>*@
                </div>
            </div>


        </div>


    }

</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")



        <script>

        $('#dep').change(function () {
            var selectedCountry = $("#dep").val();
            var regionsSelect = $('#Mun');
            console.log(selectedCountry)
            console.log(regionsSelect)
            regionsSelect.empty();
            if (selectedCountry != null && selectedCountry != '') {
                $.getJSON('@Url.Action("GetRegions")', { id: selectedCountry }, function (Municipios) {
                    if (Municipios != null && !jQuery.isEmptyObject(Municipios)) {
                        regionsSelect.append($('<option/>', {
                            value: null,
                            text: "- Seleccione Municipio -"
                        }));
                        $.each(Municipios, function (index, Mun) {
                            regionsSelect.append($('<option/>', {
                                value: Mun.idLocalidad,
                                text: Mun.Nombre
                            }));
                        });
                    };
                });
            }
        });

        </script>
       
    }
